@using SGS.MultiTenancy.Core.Application.DTOs.Tenants
@using SGS.MultiTenancy.Core.Domain.Common
@model TenantDto;

@{
    Layout = null;
}

<div class="modal fade" id="deleteTenantModal-@Model.ID" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel($"Delete Tenant"))

            <div class="modal-body">
                @Constants.DeleteQuestion
                <strong>@Model.Name</strong>?
                <br />
                <small class="text-muted">
                    @Constants.SoftDeleteHint
                </small>
            </div>

            <div class="modal-footer">
                <form asp-action="DeleteTenant" method="post">
                    <input type="hidden" name="id" asp-for="@Model.ID" />

                    <button type="submit" class="btn btn-primary">
                        @Constants.Yes
                    </button>

                    <button type="button"
                            class="btn btn-gray-200"
                            data-bs-dismiss="modal">
                        @Constants.Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>