@model SGS.MultiTenancy.Core.Domain.Common.PagedResult<SGS.MultiTenancy.Core.Domain.Entities.Auth.Tenant>

@{
    ViewData["Title"] = "Tenants";
}

<div class="d-flex justify-content-between align-items-center my-4">
    <a asp-action="AddTenant" class="btn btn-success rounded-pill px-4 shadow-sm ms-auto" style="background-color:#00305f;">
        <i class="bi bi-plus-circle me-2"></i> Create Tenant
    </a>
</div>

<div class="card-body p-0">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Business</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.Items)
            {
                <tr>
                    <td>@t.Name</td>
                    <td>@t.BussinessName</td>
                    <td>@t.Email</td>
                    <td>@t.PhoneNumber</td>
                    <td>@t.Status</td>
                    <td class="text-center">
                        <button class="btn btn-link p-0 me-4"
                                data-bs-toggle="modal"
                                data-bs-target="#editTenantModal"
                                data-id="@t.ID"
                                title="Edit">
                            <i class="bi bi-pencil-square text-dark fs-5"></i>
                        </button>

                        <button class="btn btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteTenantModal"
                                data-tenant-id="@t.ID"
                                data-tenant-name="@t.Name">
                            <i class="bi bi-trash text-dark fs-5"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Include Pagination Partial -->
    @await Html.PartialAsync("_Pagination", Model)
</div>

<!-- Include Modal Partials -->
@await Html.PartialAsync("_EditTenantModal")
@await Html.PartialAsync("_DeleteTenantModal")

@section Scripts {
    <script src="~/js/tenant-management.js"></script>
}
