@using SGS.MultiTenancy.Core.Application.DTOs.Auth;
@using SGS.MultiTenancy.Core.Domain.Common
@model SGS.MultiTenancy.UI.Models.UserViewModel

<div class="modal fade" id="editUserModal-@Model.User.ID" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Edit User"))
            <div class="modal-body" id="editUserBody">
                <form asp-action="UpdateUser"
                      method="post"
                      enctype="multipart/form-data"
                      novalidate>
                    <div class="card shadow-sm mb-4">
                        <div class="card-header bg-light">
                            <strong>User Details</strong>
                        </div>

                        <div class="card-body py-3">
                            <input asp-for="User.ID" type="hidden" />
                            <input asp-for="User.AvtarUrl" type="hidden" />

                            <div class="row g-4 align-items-start">
                                <div class="col-lg-8">
                                    <div class="mb-3">
                                        <label asp-for="User.UserName" class="form-label"></label>
                                        <input asp-for="User.UserName"
                                               class="form-control" />
                                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="User.Email" class="form-label"></label>
                                        <input asp-for="User.Email"
                                               class="form-control" />
                                        <span asp-validation-for="User.Email" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label class="form-label">Status</label>
                                        <div class="d-flex flex-wrap gap-4 mt-2">
                                            @foreach (var option in Model.StatusOptions!)
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           asp-for="User.Status"
                                                           value="@option.Value" checked="@(Model.User.Status.ToString() == option.Text)" />
                                                    <label class="form-check-label">
                                                        @option.Text
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                    <div class="border rounded p-3 text-center">
                                        <label class="form-label d-block">Profile Image</label>

                                        <img src="/@Model.User.AvtarUrl"
                                             alt="Profile Image"
                                             class="img-fluid my-3"
                                             style="max-height:140px; object-fit:contain;" />

                                        <input type="file"
                                               asp-for="User.ProfileImage"
                                               accept="image/*"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-header bg-light">
                            <strong>Address Details</strong>
                        </div>
                        <div class="card-body">
                            <div class="row g-3 address-item">
                                <input asp-for="@Model.User.Addresses[0].Id" hidden />
                                <div class="col-md-4">
                                    <label class="form-label">Phone Number</label>
                                    <input asp-for="@Model.User.Addresses[0].PhoneNumber"
                                           class="form-control"
                                           placeholder="Enter Phone number" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Address Line</label>
                                    <input asp-for="@Model.User.Addresses[0].AddressLine"
                                           class="form-control"
                                           placeholder="Enter address line" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Postal Code</label>
                                    <input asp-for="@Model.User.Addresses[0].PostalCode"
                                           class="form-control"
                                           placeholder="Enter postal code" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">City</label>
                                    <input asp-for="@Model.User.Addresses[0].City"
                                           class="form-control"
                                           placeholder="Enter city" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Country</label>
                                    <select asp-for="@Model.User.Addresses[0].Country"
                                            class="form-select countryDropdown"
                                            data-index="0">
                                        <option value="">-- Select Country --</option>
                                        @foreach (var item in Model.Countries)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">State</label>
                                    <select asp-for="@Model.User.Addresses[0].State"
                                            class="form-select stateDropdown">
                                        <option value="">-- Select State --</option>
                                        @foreach (var item in Model.States)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="form-check mt-3">
                                        <input type="checkbox"
                                               asp-for="@Model.User.Addresses[0].IsDefault"
                                               class="form-check-input"
                                               value="true" />
                                        <label class="form-check-label">
                                            Default Address
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml", false)
                </form>
            </div>
        </div>
    </div>
</div>